* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body {
  height: auto;
  width: 100%;
  display: block;
  box-sizing: border-box;
}
@media only screen and (max-width: 580px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.header,
main {
  height: auto;
  width: 100%;
  display: block;
  background: rgba(255, 144, 14, 0.1);
  padding: 10px 150px;
}
@media only screen and (max-width: 580px) {
  .header,
  main {
    width: 100%;
    padding: 10px 5px;
  }
}

main {
  background: #ffffff;
}

.headBar {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
.headBar a {
  color: #000000;
}
@media only screen and (max-width: 580px) {
  .headBar {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}

.navBar {
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
}
.navBar ul {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1%;
  list-style: none;
}
@media only screen and (max-width: 580px) {
  .navBar ul {
    grid-template-columns: repeat(1, auto);
    margin-top: 20px;
  }
}
.navBar ul li {
  border: 2px solid transparent;
  padding: 10px 15px;
}
.navBar ul li a {
  font-size: 1.1rem;
}
.navBar ul li a:hover {
  color: #ff900e;
}
.navBar ul li:hover {
  border-bottom: 2px solid #ff900e;
}
@media only screen and (max-width: 580px) {
  .navBar ul li:hover {
    border-bottom: 2px solid transparent;
  }
}

.title {
  font-size: 2rem;
}

.titleDetais {
  color: #848484;
  font-size: 0.8rem;
  margin: 1.5rem auto;
}

.priBtn {
  display: inline-block;
  color: #ffffff;
  background: #ff900e;
  border-radius: 5px;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 15px;
}
.priBtn:hover {
  color: #ff900e;
  background: #ffffff;
  border: 2px solid #ff900e;
}

.contentHead {
  height: auto;
  width: 100%;
  display: block;
  margin: 3rem 0;
  text-align: center;
}
.contentHead div {
  width: 70%;
  margin: 0 auto 30px;
}
.contentHead div h1 {
  font-size: 2.5rem;
}
.contentHead img {
  width: 100%;
}

.contentGalary {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
}
@media only screen and (max-width: 580px) {
  .contentGalary {
    grid-template-columns: repeat(1, auto);
  }
}
.contentGalary .imgContain {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
}
@media only screen and (max-width: 580px) {
  .contentGalary .imgContain {
    grid-template-columns: repeat(1, auto);
  }
}

.imgContain img {
  width: 100%;
  padding: 6px;
}
@media only screen and (max-width: 580px) {
  .imgContain img {
    height: 300px;
  }
}

.detailsContent {
  height: auto;
  width: 75%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
@media only screen and (max-width: 580px) {
  .detailsContent {
    margin: 20px auto;
  }
}
.detailsContent .title span:first-child {
  color: #848484;
}
.detailsContent .title span:last-child {
  color: #ff900e;
}

.infoContainer {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 45% 54%;
  grid-column-gap: 1%;
  padding: 45px 0;
  margin: 20px 0 40px;
}
@media only screen and (max-width: 580px) {
  .infoContainer {
    padding: 20px 0;
    grid-template-columns: repeat(1, auto);
  }
}

.contentInfo {
  height: auto;
  width: 100%;
  display: block;
  padding: 20px 0;
}

.infoDetails .title_border {
  padding: 5px 10px;
  border-left: 3px solid #ff900e;
}
.infoDetails .titleDetais {
  margin: 1rem 0;
}

.infoContent {
  height: auto;
  width: 74%;
  display: block;
  margin: 40px 30px 0;
}
.infoContent ul {
  height: auto;
  width: 100%;
  display: block;
  list-style: none;
}
.infoContent ul li {
  display: block;
  line-height: 1.6;
}
.infoContent ul li h2 {
  font-size: 1rem;
}
.infoContent ul li .titleDetais {
  margin: 0;
  font-size: 0.7rem;
}
.infoContent ul li:not(:last-child) {
  margin-bottom: 35px;
}

.contentInfoPic {
  height: auto;
  width: 100%;
  display: block;
  position: relative;
}
.contentInfoPic img {
  width: 100%;
}
@media only screen and (max-width: 580px) {
  .contentInfoPic img {
    margin-top: 20px;
  }
}

.priBtn_position {
  font-size: 1.8rem;
  padding: 20px 30px;
  position: absolute;
  bottom: -6%;
  left: -10%;
}
@media only screen and (max-width: 580px) {
  .priBtn_position {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 15px 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logoContent {
  height: auto;
  width: 100%;
  display: block;
}
.logoContent .logoDetails {
  height: auto;
  width: 40%;
  display: block;
}
@media only screen and (max-width: 580px) {
  .logoContent .logoDetails {
    width: 100%;
  }
}

.inline-ul {
  height: auto;
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  margin: 60px auto;
  list-style: none;
}
@media only screen and (max-width: 580px) {
  .inline-ul {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin: 30px auto;
    width: 70%;
  }
}
.inline-ul li {
  text-align: center;
  padding: 30px;
  line-height: 1.5;
  color: #848484;
  border-radius: 8px;
  border: 2px solid #ff900e;
  transition: width 1s, transform 1s;
}
@media only screen and (max-width: 580px) {
  .inline-ul li {
    padding: 20px 50px;
  }
  .inline-ul li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.inline-ul li div {
  opacity: 0.5;
}
.inline-ul li div img {
  width: 30%;
}
.inline-ul li div h2 {
  font-size: 2em;
}
.inline-ul li div p {
  font-size: 0.8rem;
}
.inline-ul li:hover > div {
  transform: scaleX(0.8);
  color: #ffffff;
  opacity: 1;
}

.transfrom-left {
  transform-origin: left;
}

.transfrom-center {
  transform-origin: center;
}

.transfrom-right {
  transform-origin: right;
}

@media only screen and (max-width: 580px) {
  .transfrom-left,
  .transfrom-center,
  .transfrom-right {
    transform-origin: center;
  }
}
.transfrom-left:hover,
.transfrom-center:hover,
.transfrom-right:hover {
  transform: scaleX(1.2);
  border: 2px solid #848484;
  background: #ff900e;
}

.ideaContainer .title-center {
  text-align: center;
  margin: 20px 0;
}

.ideaContainer ul {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  grid-column-gap: 4%;
}
@media only screen and (max-width: 580px) {
  .ideaContainer ul {
    grid-template-columns: repeat(1, auto);
    margin-top: 50px;
  }
}
.ideaContainer ul li {
  padding: 50px 0;
  height: 300px;
}
@media only screen and (max-width: 580px) {
  .ideaContainer ul li {
    padding: 35px 0;
    height: 250px;
  }
}

.ideaContent {
  height: 100%;
  padding: 40px 20px;
  line-height: 1.5;
  position: relative;
  background: #383636;
}

.ideaContent img {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
}
@media only screen and (max-width: 580px) {
  .ideaContent img {
    height: 75px;
    width: 75px;
  }
}
.ideaContent p {
  text-indent: 30px;
}
.ideaContent h2 {
  color: #ffffff;
  font-size: 1.5rem;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.ideaContent:hover {
  background: #848484;
}
.ideaContent:hover img {
  border: 2px solid transparent;
}
.ideaContent:hover p {
  color: #ffffff;
}
.ideaContent:hover h2 {
  color: #ff900e;
}

.title-size {
  font-size: 2rem !important;
}

.fixed-ul {
  width: 100%;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 5%;
}
@media only screen and (max-width: 580px) {
  .fixed-ul {
    grid-template-columns: repeat(1, auto);
  }
}
.fixed-ul li {
  padding: 10px 15px;
  border: none;
}
@media only screen and (max-width: 580px) {
  .fixed-ul li:not(:last-child) {
    margin-bottom: 0;
  }
}
.fixed-ul li img {
  filter: grayscale(100%);
}
@media only screen and (max-width: 580px) {
  .fixed-ul li img {
    width: 30%;
  }
}
.fixed-ul li:hover img {
  filter: grayscale(0%);
}

.footer {
  display: block;
  margin: 100px auto;
  text-align: center;
}
@media only screen and (max-width: 580px) {
  .footer {
    margin: 50px auto;
  }
}
.footer p {
  height: auto;
  width: 80%;
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  font-size: 1rem;
  color: #848484;
  background: rgba(255, 144, 14, 0.1);
  border-radius: 10px;
}
